* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============Header section================ */
.header-section {
  background-color: #fceef1;
  width: 100%;
}
.flower-container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.banner-info {
  padding: 60px 30px 0px;
}
.title {
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
}
.info-text {
  color: rgba(39, 39, 39, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}
.btn {
  padding: 12px 27px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fceef1;
  font-size: 20px;
  cursor: pointer;
}
.banner-flower {
  width: 480px;
  margin-top: 65px;
}

/* ===============Main section================ */

/* Featured Flowers section */
.featured-section {
  width: 100%;
  height: 100vh;
  margin-bottom: 60px;
}
.featured-info {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}
.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.featured-flower-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flower-background {
  width: 320px;
  height: 380px;
  border-radius: 200px 200px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.first-box {
  background-color: #a7216226;
}
.second-box {
  background-color: #0597a026;
  padding-bottom: 40px;
}
.second-box .feature-flower {
  width: 220px;
}
.third-box {
  background-color: #477d1126;
}
.feature-flower {
  width: 200px;
}
.img-title {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}
.img-title p {
  text-decoration: underline;
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 35px;
}

/* Sign Up Section */
.SignUp-section {
  width: 100%;
  height: 70vh;
  background-color: #fdf6f8;
}
.SignUp-section-info {
  width: 70%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.SignUp-section-container {
  text-align: center;
  padding: 40px;
}
.off-title {
  color: #e55473;
}
.SignUp-text {
  color: rgba(39, 39, 39, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.SignUp-section-img {
  width: 250px;
}

/* Beautiful Flowers section  */
.beautiful-flower-section {
  height: 80vh;
}
.beautiful-flower-title {
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}
.beautiful-flower-container {
  width: 80%;
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-container,
.instagram-container {
  width: 80%;
  margin: auto;
}
.beautiful-img {
  width: 200px;
  border-radius: 5px;
}
.beautiful-img-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.beautiful-img-title {
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.shop-details {
  text-align: center;
}
.shop-title {
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.more-details {
  text-decoration: underline;
  color: #e55473;
}

/* instagram section */
.instagram-container {
  margin-bottom: 30px;
}
.instagram-section-img {
  width: 260px;
  height: auto;
}
.instagram-img-container {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

/* Deals Section */
.deals-section {
  width: 80%;
  margin: auto;
  height: 60vh;
  background-image: url("Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.deals-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deals-title {
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 12px;
}
.deals-text {
  color: rgba(39, 39, 39, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.deals-info {
  text-align: center;
}
.deals-email {
  text-align: center;
}
input[type="email"] {
  background-color: #ffffff;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-right: 250px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  text-align: left;
  margin-right: 5px;
}

/* Footer section */
.footer-section {
  width: 100%;
  height: 50vh;
  background-color: #111010;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #ffffff;
}
.footer-text {
  color: rgba(255, 255, 255, 0.9);
}
.footer-info-text {
  color: rgba(255, 255, 255, 0.4);
}
