* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============Header section================ */
.header-section {
  background-color: #fceef1;
  width: 100%;
}
.flower-container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.banner-info {
  padding: 60px 30px 0px;
}
.title {
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
}
.info-text {
  color: rgba(39, 39, 39, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}
.btn {
  padding: 12px 27px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fceef1;
  font-size: 20px;
  cursor: pointer;
}
.banner-flower {
  width: 480px;
  margin-top: 65px;
}

/* ===============Main section================ */

/* Featured Flowers section */
.featured-section {
  width: 100%;
  height: 100vh;
  margin-bottom: 60px;
}
.featured-info {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.off-title {
}
.featured-title {
  color: #272727;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}
.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.featured-flower-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flower-background {
  width: 320px;
  height: 380px;
  border-radius: 200px 200px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.first-box {
  background-color: #a7216226;
}
.second-box {
  background-color: #0597a026;
  padding-bottom: 40px;
}
.second-box .feature-flower {
  width: 220px;
}
.third-box {
  background-color: #477d1126;
}
.feature-flower {
  width: 200px;
}
.img-title {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}
.img-title p {
  text-decoration: underline;
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 35px;
}

/* Sign Up Section */
.SignUp-section {
  width: 100%;
  height: 70vh;
  background-color: #fdf6f8;
}
.SignUp-section-info {
  width: 70%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.SignUp-section-container {
  text-align: center;
  padding: 40px;
}
.off-title {
  color: #e55473;
}
.SignUp-text {
  color: rgba(39, 39, 39, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.SignUp-section-img {
  width: 250px;
}

/* Beautiful Flowers section  */
.beautiful-flower-section {
  height: 100vh;
}
.beautiful-flower-container {
}
.beautiful-flower-box {
}
.beautiful-img {
  width: 250px;
}
